<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="Server=.\SQLExpress;Database=Tests;User Id=sa;Password=senha;"
       providerName="System.Data.SqlClient"
       name="ConnSQLServer"/>
  </connectionStrings>
</configuration>